.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px black;

  table {
    border-collapse: collapse;
    border: 1px solid black;

    td {
      border: 1px solid black;
      padding: 10px;
      height: 75px;
      width: 75px;
    }

    .selected {
      background-color: #93c193;
    }

    // .free {
    //   background-color: #93C193;
    //   height: 40px;
    //   width: 40px;
    // }

  }

}