.App {
  text-align: center;

  // Header CSS
  .header {
    background-color: #00916E;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Lobster;

    .title {
      font-weight: normal;
      color: white;
      text-shadow: 0 0 5px rgba(0, 0, 0, 1);
    }

    #bear {
      height: 50px;
    }

    #deer {
      width: 50px;
    }

  }

  // Navbar CSS
  .categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;

    label {
      margin: 0.5em 0;
    }

    #bingo-category {
      font-size: medium;
      padding: 2px;
      border-radius: 2px;
    }

  }

  // Message CSS
  main {
    display: flex;
    flex-direction: column;
    align-items: center;

    .message {
      margin: 1em 0;
      border: 1px solid black;
      border-radius: 10px;
      width: 300px;
      background-color: khaki;
    }

  }

}